<% include ../partials/header %>
<!-- Jumbotron-->
    <header class="jumbotron mb-2">
      <div class="container" >
        <h1><span><i class="fas fa-compass"></i></span> Welcome to YelpCamp!</h1>
        <p> View our hand-picked campgrounds from all over the world</p>
        <p>
           <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a> 
        </p>
      </div>
    </header>
    <!--eslogan -->
    <div class ="row">
        <div class="col-lg-12">
          <h3>Our Most Popular Campgrounds!</h3>
        </div>
    </div>
  <!-- Grid Sytem -->
    <div class= "row text-center" id="campground-grid">
    
      <% campgrounds.forEach(function(campground){ %>
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <!-- Card -->
            <div class="card">
              <img class="card-img-top" src="<%= campground.image %>" alt="<%=campground.name%>">
              <div class="card-body">
                <h5 class="card-title"><%=campground.name%></h5>
                <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary">More Info</a>
              </div>
            </div>
            
          </div> 
      <% }); %>
    </div>
<% include ../partials/footer %>